
<div class="fixed-header">
    <div class="container">
        <nav>
            <button class="openbtn" onclick="toogleNav()">&#9776;</button>
            <a href="#my">Почему iOS</a>
            <a href="#interests">Кто такой Тим Кук</a>
            <a href="#job">Сколько оно занимает</a>
            <a href="#">Кто такой данил</a>
            <a id="VEX" href="/vex/test/build-test.html">VEX</a>
        </nav>
    </div>
</div>

{{> sidebar}}