<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="toogleNav()">&times;</a>
    <a href="/iOS">iOS</a>
    <a href="/gallery">Gallery</a>
    <a href="/todo/showTodo">ToDO</a>
    <a href="/selfpage">Selfpage</a>
    <a href="/chat">Chat</a>
    <a href="/analytics">Analytics</a>
</div>
<script src="/public/sidebar.js"></script>